@mixin button-style($bg-color: #007BFF) {
    background-image: url(./text.png);
    background-size: cover;
    padding: 10px 35px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: $bg-color;
    color: white;
    font-weight: 100;
    &:hover {
        background-color:#D51901;
        color: white;
        font-weight: 400;
    }
}